body {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
}

.main-header nav {
    min-height: 112px;
    background-color: white;
}

.main-header img {
    margin-top: 20px;
    margin-left: -8px;
}

.main-header li a.menu {
    font-size: 15px;
    font-weight: 700;
    color: #506a85;
}

.main-header ul {
    margin-top: 31px;
    margin-left: 40px;
}

.main-header li {
    margin-left: 15px;
}

.main-header span.zoom {
    font-size: 12px;
}

.main-content .center-block {
    max-width: 1920px;
    margin-top: 112px;
}

.center-block h1 {
    font-family: 'Lato', 'Arial', sans-serif;
    color: #ffffff;
    font-size: 78px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 88px;
}

.center-block p {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    color: #a3b1bf;
}

.center-block button {
    margin-left: 15px;
    margin-top: 50px;
    width: 295px;
    height: 65px;
    border-radius: 3px;
    background-color: #00bc9c;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.45px;
}

.center-block button:hover {
    background-color: #17a78b;
    color: #ffffff;
}

.first-caption {
    top: 245px;
}

.second-caption p, .fourth-caption p {
    color: white;
}

.second-caption, .third-caption {
    top: 200px;
}

.third-caption h1, .fourth-caption h1 {
    background-color: #506a85;
}

.fourth-caption, .fifth-caption {
    top: 60px;
}

.center-block .carousel-indicators {
    visibility: hidden;
    bottom: 0;
    width: 136px;
    height: 30px;
    margin-bottom: -1px;
    margin-left: -68px;
    padding-top: 5px;
    background-color: white;
}

.center-block:hover .carousel-indicators {
    visibility: visible;
}

.center-block .carousel-indicators li {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border: none;
    background-color: #506a85;
}

.center-block .carousel-indicators li.active {
    margin: 0 5px;
    background-color: #00bc9c;
}

.center-block .carousel-control {
    visibility: hidden;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-left: 40px;
    margin-top: -20px;
    background-color: none;
    background-image: none;
}

.center-block .right {
    margin-right: 40px;
}

.center-block:hover .carousel-control {
    visibility: visible;
}

.center-block .carousel-control:hover {
    color: #00bc9c;
    background-color: #506a85;
}

.features {
    min-height: 672px;
}

.features h2 {
    margin-top: 126px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 1.1px;
    line-height: 54px;
    color: #506a85;
}

.features .reen {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.22px;
    line-height: 34px;
    color: #73879c;
}

.features span {
    margin-top: 60px;
    margin-left: 20px;
    font-size: 65px;
    color: #00bc9c;
}

.features .icon-1 {
    margin-left: -8px;
}

.features .icon-2 {
    margin-left: 25px;
    font-size: 75px;
}

.features h3 {
    margin-top: 58px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
    color: #506a85;
}

.features .features-text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    line-height: 25px;
    color: #73879c;
}

.index-content {
    min-height: 1271px;
    margin-top: 9px;
    background-color: #f2f5f7;
}

.index-content h2 {
    margin-top: 120px;
    font-family: 'Lato', 'Arial', sans-serif;
    letter-spacing: 0.8px;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 54px;
    color: #506a85;
}

.index-content p {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.22px;
    line-height: 34px;
    color: #73879c;
}

.index-content .image {
    margin-top: 63px;
}

.index-content figcaption {
    min-height: 118px;
    border: 1px solid #e6e9ed;
    border-radius: 3px;
    background-color: #ffffff;
}

.index-content h4 {
    margin-top: 28px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.7px;
    color: #506a85;
}

.index-content span {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 22px;
    color: #73879c;
}

.index-content .slider {
    margin-top: 20px;
}

.index-content h4:hover {
    color: #00bc9c;
    cursor: pointer;
}

.image {
    position: relative;
}

.hover {
    position: absolute;
    left: 50%;
    visibility: hidden;
    transform: translate(-50%, -100%);
    opacity: 0.5;
}

.image:hover .hover {
    visibility: visible;
    cursor: pointer;
}

.index-content .plus {
    position: absolute;
    top: 35%;
    left: 50%;
    visibility: hidden;
    font-size: 15px;
    opacity: 1;
    color: white;
}

.slider .plus {
    position: absolute;
    top: 10%;
    left: 30%;
}

.plus h4 {
    font-size: 16px;
    color: white;
}

.plus span {
    font-size: 12px;
    color: white;
}

.image:hover .plus {
    visibility: visible;
}

.work {
    min-height: 483px;
    background-color: #ffffff;
}

.work h2 {
    margin-top: 118px;
    font-family: 'Lato', 'Arial', sans-serif;
    letter-spacing: 1px;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    color: #506a85;
}

.work p {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.22px;
    line-height: 34px;
    color: #73879c;
}

.work button.get {
    margin-top: 26px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.45px;
    color: #ffffff;
    border-radius: 3px;
    background-color: #00bc9c;
}

.work button.get:hover {
    background-color: #17a78b;
    color: #ffffff;
}

.main-footer {
    min-height: 447px;
    background-color: #2f4052;
}

.main-footer .footer-up {
    min-height: 364px;
}

.main-footer .footer-bottom {
    min-height: 83px;
    background-color: #283645;
}

.footer-up h4 {
    margin-top: 68px;
    font-family: 'Lato', 'Arial', sans-serif;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #ffffff;
}

.footer-up .logo {
    margin-top: 22px;
    width: 129px;
    height: 32px;
    background: url('../img/logo_wh.png');
}

.footer-up .logo:hover {
    background: url('../img/logo_gr.png');
}

.footer-up p {
    margin-top: 19px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 22px;
    color: #a3b1bf;
}

.footer-up .about {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 22px;
    color: #a3b1bf;
}

.footer-up .about:hover {
    text-decoration: none;
    color: #00bc9c;
}

.about span {
    font-size: 10px;
}

.footer-up .photo {
    margin-left: -15px;
    margin-top: 23px;
}

.photo div {
    margin-right: -12px;
    margin-bottom: 3px;
}

.footer-up .plus {
    position: absolute;
    top: 40%;
    left: 50%;
    visibility: hidden;
    font-size: 12px;
    opacity: 1;
    color: white;
}

.footer-up address {
    margin-top: 13px;
    margin-bottom: -20px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 22px;
    color: #a3b1bf;
}

.footer-up .contacts {
    margin-top: -10px;
}

.footer-up .contacts:hover {
    cursor: pointer;
    color: #02b699;
}

.footer-up form {
    position: relative;
}

.footer-up input {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 22px;
    color: #828e99;
    border-color: #4e5c6c;
    background-color: #4e5c6c;
}

.footer-up button {
    position: absolute;
    top: 2px;
    left: 170px;
    width: 88px;
    height: 30px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.39px;
    color: #ffffff;
    border-radius: 3px;
    background-color: #00bc9c;
}

.footer-up button:hover {
    color: white;
    background-color: #17a78b;
}

.footer-bottom p, a {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 22px;
    color: #707e8c;
}

.footer-bottom p {
    margin-top: 30px;
}

.footer-bottom ul {
    margin-top: 30px;
    margin-right: -15px;
    color: #707e8c;
    list-style: disc;
}

.footer-bottom li {
    margin: 0 12px;
}

.footer-bottom a:hover {
    text-decoration: none;
    color: #00bc9c;
}
